page-home-tab3 {
  .list-md {
    margin: 0;

    img {
      border-radius: px;
    }

    .item-inner {
      border-bottom: 1px solid #eee !important;
    }

    h2 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}
