page-news-detail {
  #status {
    height: 25px; 
    background: #8E24AA;
  }

  ion-toolbar {
    margin-top: -1px;
  }

  .bar-button-md {
    float: left;
    font-size: 3.4rem;
  }

  .title-md {
    line-height: 1.6;
  }

  img {
    float: left;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
  }

  p {
    font-size: 1.6rem;
    text-align: justify;

    &:first-child {
      padding-top:5px;
    }
  }
}
