// http://ionicframework.com/docs/theming/
$roboto-font-path: $font-path !default;
@font-face {
  font-family:"BreeSerif-Regular";
  font-style:normal;
  font-weight:normal;
  src:url("#{$roboto-font-path}/BreeSerif-Regular.ttf") format("ttf"), url("#{$roboto-font-path}/BreeSerif-Regular.ttf") format("truetype");
}

.list-md .item-block .item-inner {
  border-bottom: none; 
}

.image-menu {
  margin-right: 20px;
}

.indent {
  text-indent: 3rem;
}

.menu-label {
  position: relative;
  top: -3px;
}

.opaque {
  background-color: color($colors, blue) !important;

  &:after {
    height: 5px !important;
  }

  .toolbar-background {
    background-color: color($colors, blue);
  }
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
