ion-content {
  height: 108%;
}

page-home-tab1 {
  .card-md {
    margin: 0;
    width: 100%;

    &:not(:first-child){
      margin-top: 10px;
    }

    .card-content-md {
      text-align: justify;
    }

    ul {
      padding-left: 10px;
    }
  }

  
}
